.nav {
  width: 100%;
  min-height: 150px;
}
.nav__mainBox-PC {
  display: none;
}
.nav__mainBox-mobile {
  width: 100%;
}
.nav__mainBox-mobile--logo img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.nav__mainBox-mobile--logo a {
  display: block;
  width: 100%;
}
.nav__mainBox-mobile--listBox ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-decoration: none;
  list-style: none;
}
.nav__mainBox-mobile--listBox ul li {
  text-align: center;
}
.nav__mainBox-mobile--listBox ul li a {
  color: #000;
  text-decoration: none;
  font-size: 2.24rem;
  padding: 1rem;
}
.nav__animation {
  touch-action: manipulation;
  display: block;
  text-decoration-style: underline;
  text-decoration-color: #dbdbdb;
  color: #000;
  text-underline-offset: 5px;
  transition: text-decoration-color 0.4s, scale 0.4s;
}
.nav__animation:hover {
  scale: 1.1;
  text-decoration-color: #000;
}
.nav__animation:focus {
  scale: 1.1;
  text-decoration-color: #000;
}

@media ((min-width: 568px) and (max-width: 992px)) {
  .nav {
    min-height: 240px;
  }
  .nav__mainBox-mobile--listBox ul li a {
    font-size: 3.2rem;
    padding: 1rem 2rem;
  }
}
@media ((min-width: 992px) and (max-width: 1200px)) {
  .nav {
    width: 100%;
    min-height: 320px;
  }
  .nav__mainBox-mobile--logo img {
    width: 100%;
  }
  .nav__mainBox-mobile--listBox ul li a {
    font-size: 3.84rem;
    padding: 1rem 2rem;
  }
}
@media (min-width: 1200px) {
  .nav__mainBox {
    height: 100%;
  }
  .nav__mainBox-PC {
    height: 100%;
    box-shadow: 0 3px 2px -2px #000;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
  }
  .nav__mainBox-PC--logo {
    max-width: 600px;
  }
  .nav__mainBox-PC--logo img {
    width: 100%;
  }
  .nav__mainBox-PC--listContainer {
    min-width: 50%;
  }
  .nav__mainBox-PC--list {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
  }
  .nav__mainBox-PC--list li a {
    padding: 1.2rem;
    font-size: 2.72rem;
  }
  .nav__mainBox-mobile {
    display: none;
  }
  .nav__mainBox-mobile--logo {
    display: none;
  }
}
.footer {
  width: 100%;
  min-height: 200px;
  border-top: 1px solid black;
  font-size: 1.6rem;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.footer__box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 1rem 0;
  min-height: 200px;
  margin: 0 auto;
}
.footer__top {
  width: 100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__privacypolicy {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  font-weight: bold;
}
.footer__socialmedia {
  width: 100%;
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__socialmedia .dot {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1rem;
}
.footer__socialmedia .dot img {
  display: block;
}
.footer__phone {
  width: 100%;
  min-height: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__phone .phone {
  text-decoration: none;
  color: #000;
  text-align: center;
  font-weight: bold;
}

@media (min-width: 768px) {
  .footer {
    min-height: 80px;
    max-height: 80px;
  }
  .footer__box {
    flex-direction: row;
    font-size: 2.2rem;
    min-height: 80px;
    max-height: 80px;
  }
  .footer__top {
    width: 25%;
    height: auto;
  }
  .footer__socialmedia {
    width: 50%;
    height: auto;
  }
  .footer__phone {
    width: 25%;
    height: auto;
  }
}
@media (min-width: 992px) {
  .footer__top {
    width: 30%;
    height: auto;
  }
  .footer__socialmedia {
    width: 40%;
    height: auto;
  }
  .footer__phone {
    width: 30%;
    height: auto;
  }
}
@media (min-width: 1200px) {
  .footer__top {
    width: 25%;
    height: auto;
  }
  .footer__socialmedia {
    width: 50%;
    height: auto;
  }
  .footer__phone {
    width: 25%;
    height: auto;
  }
}
@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
@keyframes showDescription {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-120%);
    opacity: 0;
  }
}
@keyframes hideDescription {
  from {
    transform: translateY(-120%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes scale {
  0% {
    scale: 1;
  }
  25% {
    scale: 1.4;
  }
  50% {
    scale: 1.5;
  }
  75% {
    scale: 1.4;
  }
  100% {
    scale: 1;
  }
}
@keyframes boxshadow {
  0% {
    box-shadow: none;
  }
  50% {
    box-shadow: 0px 0px 5px 1px black;
  }
  100% {
    box-shadow: none;
  }
}
.section__title {
  text-align: center;
  font-size: 4.5rem;
}

.section__slider {
  height: 80vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.section__slider .slider {
  position: relative;
  width: 90%;
  display: block;
  margin-top: 2rem;
  touch-action: manipulation;
}
.section__slider .slider__otherPhotos-box {
  position: relative;
  display: none;
  width: 100%;
  height: 20vh;
  margin-top: 8rem;
}
.section__slider .slider__otherPhotos-box .thumbnails-box {
  width: 100%;
  height: 100%;
  overflow: hidden;
  scroll-behavior: smooth;
  display: flex;
}
.section__slider .slider__otherPhotos-box .thumbnails-box .img-box {
  flex: 0 0 15%;
  width: 15%;
  height: 100%;
  margin: 0 1.5rem;
  opacity: 1;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section__slider .slider__otherPhotos-box .thumbnails-box .img-box .image {
  width: 100%;
  height: 80%;
  overflow: hidden;
  margin: 0 auto;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section__slider .slider__otherPhotos-box .thumbnails-box .img-box .image img,
.section__slider .slider__otherPhotos-box .thumbnails-box .img-box .image video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  overflow: hidden;
  border: 4px solid transparent;
  transition: border 0.3s;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section__slider .slider__otherPhotos-box .thumbnails-box .img-box .image .active {
  border: 4px solid black;
}
.section__slider .slider__otherPhotos-box .arrow-leftpc {
  display: none;
}
.section__slider .slider__otherPhotos-box .arrow-rightpc {
  display: none;
}
.section__slider .slider .arrow {
  display: flex;
  touch-action: manipulation;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #000;
  border-radius: 50%;
  transition: opacity 0.5s;
  z-index: 1;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section__slider .slider__mainPhoto-box {
  position: relative;
  width: 100%;
  height: 40vh;
}
.section__slider .slider__mainPhoto-box .photo {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #dbdbdb;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section__slider .slider__mainPhoto-box .photo img,
.section__slider .slider__mainPhoto-box .photo video {
  width: 100%;
  height: 100%;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.section__slider .slider__mainPhoto-box .arrows {
  width: 60%;
  position: relative;
  margin: 1rem auto 0 auto;
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.section__slider .slider__mainPhoto-box .arrow-left-m {
  display: none;
}
.section__slider .slider__mainPhoto-box .arrow-right-m {
  display: none;
}

@media (min-width: 768px) {
  .section__slider .slider__mainPhoto-box .arrows {
    display: none;
  }
  .section__slider .slider__mainPhoto-box .arrow-left-m {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    left: 5%;
  }
  .section__slider .slider__mainPhoto-box .arrow-right-m {
    display: flex;
    position: absolute;
    transform: translate(50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    top: 50%;
    right: 5%;
  }
}
@media (min-width: 1200px) {
  .section__title {
    display: block;
    font-size: 7rem;
    margin: 20px;
  }
  .section__slider {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: calc(var(--vh));
    display: flex;
  }
  .section__slider .slider {
    margin-top: 4rem;
    width: 80%;
    touch-action: manipulation;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
  }
  .section__slider .slider__otherPhotos-box {
    display: block;
  }
  .section__slider .slider__otherPhotos-box .arrow-leftpc {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 35%;
    left: -7%;
  }
  .section__slider .slider__otherPhotos-box .arrow-rightpc {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    top: 35%;
    right: -7%;
  }
  .section__slider .slider__mainPhoto-box {
    position: relative;
    width: 50vw;
    height: 44vh;
  }
  .section__slider .slider__mainPhoto-box .photo {
    width: 100%;
    height: 100%;
    overflow: hidden;
    -o-object-fit: contain;
       object-fit: contain;
    cursor: pointer;
  }
  .section__slider .slider__mainPhoto-box .photo img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .section__slider .slider__mainPhoto-box .arrow-left-m {
    display: none;
  }
  .section__slider .slider__mainPhoto-box .arrow-right-m {
    display: none;
  }
}
.section__video {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 10rem;
  overflow: hidden;
}
.section__video .wrapper {
  max-width: 1800px;
}
.section__video .wrapper .video__container__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.section__video .wrapper .video__box {
  position: static;
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 4rem;
  margin-top: 4rem;
}
.section__video .wrapper .video__box h4 {
  display: none;
}
.section__video .wrapper .video__box .video__element {
  position: relative;
  width: 100%;
  z-index: 1;
  transition: all 0.7s;
}
.section__video .wrapper .video__box .video__element .img__container {
  display: none;
}
.section__video .wrapper .video__box .video__element img {
  display: none;
}
.section__video .wrapper .video__box .video__element iframe {
  width: 100%;
  height: 200px;
}
.section__video .wrapper .video__box .video__additional__content {
  position: absolute;
  top: 0;
  height: 200px;
  background-color: #dbdbdb;
  transition: all 0.5s;
}
.section__video .wrapper .video__box .video__additional__content .blur {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 15px;
  background-image: linear-gradient(#dbdbdb, rgba(0, 0, 0, 0.4));
}
.section__video .wrapper .video__box .video__additional__content .video__description {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 2rem 1.5rem;
  overflow-y: scroll;
  box-shadow: inset 0px 3px 10px black;
}
.section__video .wrapper .video__box .video__additional__content .video__description__paragraph {
  width: 100%;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
}
.section__video .wrapper .click__to__see {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50px;
  line-height: 50px;
  background-color: #000;
  border-radius: 8px;
}
.section__video .wrapper .click__to__see .click__to__see__more {
  display: block;
}

@media ((min-width: 385px) and (min-height: 730px) and (max-width: 768px)) {
  .section__video {
    width: 88%;
  }
  .section__video .wrapper .video__element {
    min-height: 245px;
  }
  .section__video .wrapper .video__element iframe {
    min-height: 245px;
  }
}
@media (min-width: 768px) {
  .section__video .wrapper .video__box .video__element iframe {
    width: 100%;
    height: 400px;
  }
  .section__video .wrapper .video__box .video__additional__content {
    height: 400px;
  }
  .section__video .wrapper .video__box .video__additional__content .video__description {
    padding: 2.5rem 5rem;
  }
  .section__video .wrapper .video__box .video__additional__content .video__description__paragraph {
    font-size: 2.2rem;
  }
  .section__video .wrapper .click__to__see {
    width: 50%;
  }
}
@media (min-width: 992px) {
  .section__video {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .section__video {
    height: 100vh;
    overflow: visible;
  }
  .section__video .wrapper {
    height: 100%;
  }
  .section__video .wrapper .video__container__main {
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
  }
  .section__video .wrapper .video__box {
    height: 35%;
    width: 42%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    transition: scale 0.3s;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .section__video .wrapper .video__box:hover {
    scale: 0.95;
  }
  .section__video .wrapper .video__box h4 {
    display: inline-block;
    position: absolute;
    rotate: 45deg;
    top: 5%;
    right: -5%;
    font-size: 2rem;
    z-index: 40;
    animation: scale 0.9s linear infinite;
  }
  .section__video .wrapper .video__box .video__element {
    height: 100%;
    width: 100%;
  }
  .section__video .wrapper .video__box .video__element iframe {
    display: none;
    height: 100%;
    min-height: 300px;
  }
  .section__video .wrapper .video__box .video__element .img__container {
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 11;
  }
  .section__video .wrapper .video__box .video__element img {
    display: block;
    height: 100%;
    display: block;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .section__video .wrapper .video__box .video__element .icon {
    height: 60px;
    width: 60px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 50;
  }
  .section__video .wrapper .video__box .video__additional__content {
    display: none;
    position: static;
    width: 45%;
    box-shadow: 3px 3px 8px #000;
  }
  .section__video .wrapper .video__box .video__additional__content .blur {
    display: none;
  }
  .section__video .wrapper .video__box .video__additional__content .video__description {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none;
    overflow: auto;
  }
  .section__video .wrapper .click__to__see {
    display: none;
  }
}
body .section__specificVideo {
  height: calc(100vh - 230px);
  margin-bottom: 0;
}
body .section__specificVideo .wrapper {
  height: 100%;
  max-width: 1300px;
}
body .section__specificVideo .wrapper .specificVideo__mainContainer {
  padding-top: 3rem;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .section__specificVideo .wrapper .specificVideo__videoBox {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .section__specificVideo .wrapper .specificVideo__videoBox iframe {
  margin-top: 5rem;
  min-height: 40vh;
  align-self: flex-start;
  width: 100%;
}
body .section__specificVideo .wrapper .specificVideo__description {
  text-align: center;
  padding: 4rem;
  padding-top: 0;
  width: 45%;
  height: 100%;
}
body .section__specificVideo .wrapper .specificVideo__description-title {
  font-size: 6rem;
  display: block;
  width: 100%;
  justify-self: flex-start;
  margin-bottom: 5rem;
}
body .section__specificVideo .wrapper .specificVideo__description-text {
  width: 100%;
  text-align: center;
  margin: 0 2rem;
  font-size: 2rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "gothic";
  src: url(../css/font.ttf);
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: #dbdbdb;
  width: 100vw;
  overflow-x: hidden;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  -webkit-tap-highlight-color: transparent;
}

.showDescription {
  animation: showDescription 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.hideDescription {
  animation: hideDescription 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.rotate {
  rotate: 0deg !important;
}

.dot_entrance {
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #000;
  left: calc(50% - 25px);
  top: calc(100% - 60px);
  animation: heartbeat 1.5s ease-in-out infinite both;
}
.dot_entrance a {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px;
}
.dot_entrance img {
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.font {
  font-family: "gothic", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.header {
  position: relative;
  height: calc(var(--vh, 100vh) - var(--navHeight));
}
.header .wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
}
.header__imgs {
  display: none;
}
.header .header__textContainer {
  width: 90%;
}
.header .header__textContainer-text {
  word-wrap: break-word;
  text-align: center;
  font-size: 4rem;
}

.section__first {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: 60vh;
  margin-bottom: 6rem;
}
.section__marquee {
  position: relative;
  overflow: hidden;
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.section__marquee-marqueeContainer {
  width: auto;
  white-space: nowrap;
  animation: 20s marquee infinite linear;
}
.section__marquee-marqueeElement {
  display: inline-block;
  width: auto;
  font-size: 4rem;
  margin: 0 30px;
}
.section__trusted {
  height: 300px;
}
.section__trusted .section__marquee {
  height: 200px;
}
.section__trusted .section__marquee-marqueeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  animation: 10s marquee infinite linear;
}
.section__trusted .section__marquee-marqueeContainer a {
  display: block;
}
.section__trusted .section__marquee-marqueeContainer a .section__marquee-marqueeElement--img {
  max-width: 150px;
  display: block;
  height: 80px;
  width: auto;
}

.music-content {
  position: relative;
  width: 100%;
  margin: 4rem auto 0;
  max-width: 1200px;
}
.music-content__description {
  display: none;
}
.music-content__video {
  width: 95%;
  min-height: 250px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.music-content__video .youtube_video {
  width: 100%;
}
.music-content__video .miniature_to_hide {
  display: none;
}

@media (min-width: 375px) {
  .header .header__textContainer {
    margin-top: 8rem;
  }
}
@media ((min-width: 385px) and (min-height: 800px) and (max-width: 768px)) {
  .header .header__textContainer {
    margin-top: 13rem;
    width: 90%;
  }
  .header .header__textContainer-text {
    font-size: 4rem;
  }
  .section__marquee {
    height: 100px;
  }
  .section__marquee-marqueeContainer {
    animation: 15s marquee infinite linear;
  }
  .section__marquee-marqueeElement {
    font-size: 6rem;
  }
  .section__trusted .section__marquee-marqueeContainer {
    animation: 16s marquee infinite linear;
  }
  .section__trusted .section__marquee-marqueeContainer a .section__marquee-marqueeElement--img {
    max-width: 200px;
    height: 90px;
  }
}
@media ((min-width: 568px) and (max-width: 992px)) {
  .header {
    height: calc(var(--vh, 100vh) - var(--navHeight));
  }
  .header .header__textContainer {
    width: 70%;
  }
  .header .header__textContainer-text {
    font-size: 6rem;
  }
  .section__marquee {
    height: 100px;
  }
  .section__marquee-marqueeContainer {
    animation: 15s marquee infinite linear;
  }
  .section__marquee-marqueeElement {
    font-size: 6rem;
  }
}
@media (min-width: 768px) {
  .section__first {
    height: 75vh;
  }
  .section__slider {
    height: 60vh;
  }
  .music-content {
    height: 60vh;
  }
  .music-content__video {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 5%;
    width: 60%;
    min-height: 300px;
  }
  .music-content__description {
    display: block;
    position: absolute;
    z-index: 0;
    width: 60%;
    padding: 8rem 0 0 8rem;
    min-height: 300px;
    top: 40%;
    right: 5%;
    box-shadow: 3px 3px 8px #000;
  }
  .music-content__description h2 {
    font-size: 5rem;
  }
  .music-content__description p {
    font-size: 2.5rem;
  }
}
@media ((min-width: 992px) and (max-width: 1200px)) {
  .header {
    height: calc(var(--vh, 100vh) - var(--navHeight));
  }
  .header .header__textContainer {
    width: 70%;
    margin-top: 10rem;
  }
  .header .header__textContainer-text {
    font-size: 8rem;
  }
  .music-content {
    height: 60vh;
  }
  .music-content__video {
    min-height: 400px;
  }
  .music-content__description {
    min-height: 400px;
  }
  .music-content__description h2 {
    font-size: 7rem;
  }
  .music-content__description p {
    font-size: 4rem;
  }
  .section__title {
    font-size: 7rem;
  }
  .section__marquee {
    height: 100px;
  }
  .section__marquee-marqueeContainer {
    animation: 15s marquee infinite linear;
  }
  .section__marquee-marqueeElement {
    font-size: 8rem;
  }
}
@media (min-width: 1200px) {
  @supports (-webkit-touch-callout: none) {
    .header {
      height: var(--vh);
    }
  }
  .header {
    position: relative;
    height: calc(var(--vh, 100vh) - var(--navHeight));
    margin-bottom: 10rem;
  }
  .header .wrapper {
    display: flex;
    position: relative;
    max-width: 1700px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .header .dot_entrance {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: calc(50% - 30px);
    top: calc(100% - 70px);
  }
  .header .dot_entrance a {
    padding: 20px;
  }
  .header .header__textContainer {
    height: 80%;
    width: 50%;
    margin-top: 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .header__textContainer-text {
    margin-top: 0;
    font-size: 8rem;
  }
  .header__imgs {
    display: block;
    position: relative;
    height: 80%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header__imgs-img {
    width: 300px;
    height: 300px;
  }
  .header__imgs-img--first {
    position: absolute;
    top: 8%;
    left: 15%;
    z-index: 3;
  }
  .header__imgs-img--second {
    z-index: 2;
  }
  .header__imgs-img--third {
    position: absolute;
    bottom: 8%;
    right: 15%;
    z-index: 1;
  }
  .header__imgs-img img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .music-content {
    height: calc(100vh - 100px);
    max-width: 1200px;
    margin: 0 auto;
  }
  .music-content__video {
    width: 55%;
    height: 40%;
    top: 10%;
    left: 0;
  }
  .music-content__video .miniature_to_hide {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    transition: scale 0.3s;
    cursor: pointer;
  }
  .music-content__video .miniature_to_hide .miniature {
    z-index: 1;
    display: block;
    height: 100%;
    width: 100%;
  }
  .music-content__video .miniature_to_hide .icon {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  .music-content__video .miniature_to_hide:hover {
    scale: 1.01;
    animation: boxshadow 0.5s linear forwards;
  }
  .music-content__description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40%;
    top: 45%;
    right: 0%;
    padding: 0 5rem;
    text-align: center;
    width: 55%;
  }
  .music-content__description h2 {
    font-size: 7rem;
  }
  .music-content__description p {
    font-size: 4rem;
  }
  @supports (-webkit-touch-callout: none) {
    .section__first {
      height: var(--vh);
    }
  }
  .section {
    margin-bottom: 10rem;
  }
  .section__first {
    height: var(--vh, 100vh);
    display: block;
  }
  .section__marquee {
    height: 100px;
  }
  .section__marquee-marqueeContainer {
    animation: 28s marquee infinite linear;
  }
  .section__marquee-marqueeElement {
    font-size: 8.5rem;
  }
  .section__marquee-marqueeElement--img {
    max-width: 300px;
    height: 100px;
  }
  .section__slider {
    height: 100vh;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .section__trusted {
    height: 300px;
    margin-bottom: 0;
  }
  .section__trusted .section__marquee {
    height: 200px;
  }
  .section__trusted .section__marquee-marqueeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    animation: 45s marquee infinite linear;
  }
  .section__trusted .section__marquee-marqueeContainer a {
    margin: 0 5rem;
    display: block;
  }
  .section__trusted .section__marquee-marqueeContainer a .section__marquee-marqueeElement--img {
    max-width: 400px;
    display: block;
    height: 130px;
    width: auto;
  }
}
@media (min-width: 2000px) {
  @supports (-webkit-touch-callout: none) {
    .header .header {
      height: 100vh; /* Example alternative calculation for Safari */
    }
  }
  .header .wrapper {
    max-width: 2000px;
  }
  .header .dot_entrance {
    width: 80px;
    height: 80px;
    left: calc(50% - 40px);
    top: calc(100% - 90px);
  }
  .header .dot_entrance a {
    padding: 25px;
  }
  .header .header__textContainer-text {
    font-size: 9rem;
  }
  .header__imgs {
    position: relative;
  }
  .header__imgs-img {
    height: 360px;
    width: 360px;
    position: absolute;
  }
  .header__imgs-img--first {
    top: 0;
    left: 0;
    z-index: 3;
  }
  .header__imgs-img--second {
    top: 25%;
    left: 25%;
    z-index: 2;
  }
  .header__imgs-img--third {
    top: 50%;
    left: 50%;
    z-index: 1;
  }
  .header__imgs img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .music-content__video {
    min-height: 410px;
    left: 0;
  }
  .music-content__description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 410px;
    top: 45%;
    right: 0%;
    padding: 0;
    text-align: center;
  }
  .music-content__description h2 {
    font-size: 7rem;
  }
  .music-content__description p {
    font-size: 4rem;
  }
  @supports (-webkit-touch-callout: none) {
    .section__first {
      height: 100vh;
    }
  }
}/*# sourceMappingURL=mainpage.css.map */