$form-color: rgb(223, 174, 14);
$main-bg-color: #dbdbdb;
$main-black: #000;
$light-white: #eee;
$pure-white: #fff;
$input-idle-color: #8a8a8a;
$possible-nav-color: #393E41;
$possible-nav-color2: #22272a;
$possible-form-color: #92e7ff;
