@use "./colors" as colors;

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	min-height: 200px;
	border-top: 1px solid black;
	font-size: 1.6rem;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
	&__box {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		max-width: 1200px;
		width: 100%;
		padding: 1rem 0;
		min-height: 200px;
		margin: 0 auto;
	}
	&__top {
		width: 100%;
		min-height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__privacypolicy {
		display: block;
		text-decoration: none;
		color: colors.$main-black;
		text-align: center;
		font-weight: bold;
	}
	&__socialmedia {
		width: 100%;
		min-height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;

		.dot {
			width: 40px;
			height: 40px;
			border: none;
			border-radius: 50%;
			background-color: colors.$main-black;
			display: flex;
			justify-content: center;
			align-items: center;
			margin: 0 1rem;
			img {
				display: block;
			}
		}
	}
	&__phone {
		width: 100%;
		min-height: 60px;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		.phone {
			text-decoration: none;
			color: colors.$main-black;
			text-align: center;
			font-weight: bold;
		}
	}
}
@media (min-width: 768px) {
	.footer {
		min-height: 80px;
		max-height: 80px;
		&__box {
			flex-direction: row;
			font-size: 2.2rem;
			min-height: 80px;
			max-height: 80px;
		}
		&__top {
			width: 25%;
			height: auto;
		}
		&__socialmedia {
			width: 50%;
			height: auto;
		}
		&__phone {
			width: 25%;
			height: auto;
		}
	}
}
