@use './colors' as colors;
.nav {
	width: 100%;
	height: 100px;
	&__box {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
	}
	&__logo {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: 60%;
		height: 100%;
		margin-left: 1.5rem;
		a {
			display: block;
			width: 70%;
			height: 80%;
			img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: contain;
			}
		}
	}
	&__burgericon {
		position: relative;
		width: 40%;
		height: 100%;
		.hamburger {
			position: absolute;
			top: 50px;
			left: 50%;
			transform: translateY(-50%);
			z-index: 10;
		}
	}
	&__external__part {
		position: fixed;
		top: 0;
		left: 0;
		z-index: 6;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		transform: translateY(-100%);
		transition: transform 0.5s;
		background-color: colors.$possible-nav-color2;
		&__box {
			position: relative;
			top: 5%;
			width: 90%;
			height: 80%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
		&__item {
			position: relative;
			display: block;
			width: fit-content;
			margin: 0 auto;
			text-transform: uppercase;
			text-decoration: none;
			text-align: center;
			color: colors.$pure-white;
			font-size: 3.2rem;
			padding: 1rem;
			cursor: pointer;
			transition: transform 0.3s;
			&::after {
				position: absolute;
				content: '';
				width: 100%;
				height: 3px;
				background-color: colors.$pure-white;
				bottom: 0;
				left: 0;
				transform: scaleX(0);
				transition: transform 0.3s;
			}
			&:hover {
				transform: scale(1.1);
			}
			&:hover::after {
				transform: scaleX(1);
			}
		}
	}
	&__socialmedia {
		display: none;
	}
	.activated {
		transform: translateY(0);
	}
	border-bottom: 1px solid colors.$main-black;
}
@media (min-width: 768px) {
	.nav {
		height: 120px;
		&__external__part {
			&__item {
				font-size: 4rem;
				padding: 2rem;
			}
		}
		&__logo {
			a {
				width: 50%;
				height: 70%;
			}
		}
		&__burgericon {
			.hamburger {
				top: 60px;
			}
		}
	}
}
@media (min-width: 992px) {
	.nav {
		height: 150px;
		&__burgericon {
			.hamburger {
				top: 75px;
				.hamburger-box {
					width: 55px;
					height: 50px;
					.hamburger-inner {
						width: 55px;
						height: 6px;
					}
					.hamburger-inner::after {
						width: 55px;
						height: 6px;
						bottom: -16px;
					}
					.hamburger-inner::before {
						width: 55px;
						height: 6px;
						top: -16px;
					}
				}
			}
			.hamburger--spin.is-active {
				.hamburger-inner::after {
					bottom: 0;
				}
				.hamburger-inner::before {
					top: 0;
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.nav {
		height: 120px;
		&__box {
			justify-content: space-between;
		}
		&__logo {
			width: 30%;
		}
		&__burgericon {
			width: 30%;
			.hamburger {
				transform: scale(1.2) translateY(-50%);
				top: 65px;
				left: 60%;
			}
		}
		&__socialmedia {
			height: 100%;
			min-height: 60px;
			display: flex;
			justify-content: center;
			align-items: center;

			.dot {
				width: 40px;
				height: 40px;
				border: none;
				border-radius: 50%;
				background-color: colors.$main-black;
				display: flex;
				justify-content: center;
				align-items: center;
				margin: 0 1rem;
				img {
					display: block;
				}
			}
		}
		&__external__part {
			&__box {
				top: 0;
			}
		}
	}
}
@media (min-width: 2000px) {
	.nav {
		min-height: 150px;
		&__burgericon {
			.hamburger {
				top: 75px;
			}
		}
	}
}
