@use './colors' as colors;
.products {
	width: 100%;

	&__box {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		.no-products {
			text-align: center;
			font-size: 3rem;
			margin-top: 2rem;
		}
	}

	&__classlist {
		margin-left: 70%;
		select {
			height: 50px;
			width: 150px;
			background-color: transparent;
			border: 2px solid colors.$main-color;
		}
	}
	&-title {
		// margin-left: 15%;
		display: block;

		h1 {
			width: 80%;
			color: colors.$main-color;
			text-transform: uppercase;
			font-size: 3.2rem;
			text-align: center;
			margin: 0 auto;
			padding: 2rem 0;
		}
	}
	.products-select-box {
		margin: 0 auto;
		padding: 0;
		.products__select-list {
			width: 90%;
			padding: 2rem 0;
			margin: 0 auto;
			select {
				width: 100%;
				padding: 2rem 4rem;
				font-size: 2rem;
				text-align: left;
				border-radius: 30px;
				border: 3px solid colors.$main-color;
				outline: none;
				color: colors.$black;
				text-decoration: none;
				appearance: none;
				background-image: url('../img/products/icons/selectlist/arrow-down-selectList.svg');
				background-repeat: no-repeat;
				background-position: 95% 45%;
				background-size: 25px 25px;
				opacity: 0.8;
				overflow: hidden;
			}
		}

		.products__class-buttons {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			width: 100%;
			justify-content: space-around;
			flex-wrap: wrap;
			animation: bounce-top 0.9s 0.4s both;
			button {
				margin-top: 2.3rem;
				margin-right: 0;
				padding: 1rem 0.5rem 1rem 0.5rem;

				background-color: transparent;
				border: none;
				font-size: 3.3rem;
				font-family: 'Bebas Neue', sans-serif;
				font-weight: 500;
				font-style: normal;
				cursor: pointer;
				text-align: left;
				color: #264f0b;
				opacity: 0.4;
				transition: scale 0.2s;
				pointer-events: none;
				outline: none;

				&:hover,
				&:focus {
					scale: 1.1;
				}
			}

			.activated {
				animation: activateButton 0.3s forwards;
			}
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 90%;
		height: auto;
		border: 3px solid colors.$main-color;
		border-radius: 20px;
		overflow: hidden;
		margin-bottom: 1.5rem;

		&-img {
			position: relative;
			// margin-left: 3%;
			min-height: 220px;
			width: 100%;
			background-size: cover;
			background-position: center;
			// border: 1px solid gray;
		}

		&-img::after {
			content: '';
			position: absolute;
			top: 50%;
			right: -5%;
			transform: translateY(-50%);
			height: 90%;
			width: 1px;
			background-color: gray;
			display: none;
		}

		&-content {
			position: relative;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			align-items: center;
			width: 100%;
			min-height: 150px;

			&--element {
				color: colors.$main-color;
			}

			&--title {
				p {
					text-align: center;
					font-size: 1.7rem;
					font-weight: bold;
					padding: 1rem 1rem 0.5rem 1rem;
				}
				.product__status {
					font-size: 1.6rem;
					text-align: center;
					padding: 0.5rem 0;
				}
			}
			&--description {
				margin-top: 1rem;
				width: 40%;
				height: auto;
				display: none;
				p {
					font-size: 1em;
				}
			}

			&--list {
				width: 80%;
				margin-top: 1rem;
				list-style-position: inside;
				display: none;
			}

			&--additional {
				height: 60px;
				width: 80%;
				background: none;
				border: 4px solid colors.$main-color;
				border-radius: 12px;
				box-shadow: 2px 2px 2px 2px colors.$main-color;
				transition: box-shadow 0.3s;
				cursor: pointer;
				margin-bottom: 1rem;
				a {
					text-decoration: none;
					outline: none;
				}
				a:focus p {
					background-color: colors.$main-color;
					color: colors.$pure-white;
				}
				p {
					height: 100%;
					width: 100%;
					display: flex;
					justify-content: center;
					align-items: center;
					font-size: 20px;
					text-transform: uppercase;
					text-align: center;
					font-weight: 600;
					color: colors.$main-color;
					transition: color 0.3s, background-color 0.3s;
				}
			}

			&--additional:hover {
				box-shadow: none;
			}
		}
	}
}
@media (min-width: 390px) and (max-width: 600px) {
	.products {
		&__item {
			width: 80%;
			margin-bottom: 1.8rem;
			&-content {
				&--additional {
					p {
						line-height: 50px;
						font-size: 24px;
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.products {
		&-title {
			h1 {
				font-size: 4rem;
			}
		}

		.products-select-box {
			.products__select-list {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				select {
					width: 60%;
				}
				.products__class-buttons {
					justify-content: space-evenly;
					button {
						padding: 1rem 2rem 1rem 2rem;
					}
				}
			}
		}

		&__box {
			flex-direction: row;
			flex-wrap: wrap;
		}

		&__item {
			width: 45%;
			margin: 2.5%;
			&-content {
				&--additional {
					p {
						line-height: 45px;
					}
				}
				&--title {
					.product__status {
						margin-top: 0.4rem;
					}
				}
			}
		}
	}
}
@media (min-width: 1000px) {
	.products {
		&-title {
			h1 {
				font-size: 4rem;
			}
		}

		.products-select-box {
			.products__select-list {
				.products__class-buttons {
					justify-content: space-evenly;
					button {
						font-size: 4rem;
						padding: 1rem 2rem 1rem 2rem;
					}
				}
			}
		}
		&__item {
			&-img {
				min-height: 300px;
			}
			&-content {
				&--title {
					p {
						font-size: 3.2rem;
					}
					.product__status {
						margin-top: 0.5rem;
					}
				}
				&--additional {
					p {
						font-size: 2.4rem;
						line-height: 55px;
					}
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	.products {
		width: 100%;
		&__box {
			.no-products {
				margin-top: 5rem;
				font-size: 5rem;
			}
		}
		&-title {
			h1 {
				width: 50%;
				color: colors.$main-color;
				text-transform: uppercase;
				font-size: 5rem;
				text-align: center;
				padding: 2rem 0 0;
				margin: 0 0 0 2rem;
			}
		}
		.products-select-box {
			display: flex;
			justify-content: space-between;
			padding: 2rem 0;
			.products__select-list {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				padding: 2rem 0 0;
				margin: 0;
				select {
					width: 50%;
					padding: 2rem 4rem;
					border-radius: 30px;
					border: 3px solid colors.$main-color;
					font-size: 2rem;
					text-align: left;
					outline: none;
					appearance: none;
					background-repeat: no-repeat;
					background-position: 95% 45%;
					background-size: 25px 25px;
					overflow: hidden;
				}
				.products__class-buttons {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					flex-wrap: nowrap;
					width: 60%;
					button {
						padding: 2rem 1rem 2rem 1rem;
						font-size: 4.5rem;
						margin-left: 1rem;
					}
					&-premium {
						margin-right: 2.5rem;
					}
				}

				option {
					border: 1px solid colors.$main-color;
				}
			}
		}
		&__item {
			flex-direction: row;
			justify-content: space-between;
			min-height: 400px;
			width: 100%;
			margin: 2rem auto;

			&-img {
				position: relative;
				margin-left: 2%;
				min-height: 360px;
				width: 30%;
				border: 3px solid gray;
			}
			&-img::after {
				display: block;
			}
			&-content {
				display: block;
				min-height: 360px;
				width: 65%;
				padding: 0 1rem 1rem 1rem;

				&--title {
					p {
						text-align: left;
						font-size: 2em;
						width: 70%;
						padding: 1.5rem 1rem 0.5rem 1rem;
					}
					.product__status {
						position: absolute;
						top: 0;
						margin-top: 0;
						width: 30%;
						right: 0;
						font-size: 2em;
						padding-top: 1.5rem;
					}
				}
				&--description {
					margin-top: 1.5rem;
					width: 90%;
					height: auto;
					display: block;
					p {
						font-size: 1.8rem;
					}
				}

				&--list {
					display: block;
				}

				&--additional {
					position: relative;
					width: 40%;
					min-height: 90px;
					margin-bottom: 2rem;
					right: -55%;

					p {
						line-height: 60px;
					}
				}
			}
		}
	}
}
