@use './colors' as colors;

body {
	.section {
		&__specificVideo {
			margin-bottom: 0;
			.wrapper {
				height: 100%;
				max-width: 1300px;
				.specificVideo {
					&__mainContainer {
						height: 100%;
						width: 100%;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						padding-top: 4rem;
						// border: 1px solid red;
					}
					&__videoBox {
						width: 90%;

						iframe {
							min-height: 40vh;
							width: 100%;
						}
					}
					&__description {
						text-align: center;

						padding: 0 2rem 4rem 2rem;
						width: 90%;
						height: 40%;
						&-title {
							font-size: 3.5rem;
							display: block;
							width: 100%;
							justify-self: flex-start;
							margin: 4rem 0 3rem 0;
						}
						&-text {
							width: 100%;
							text-align: center;
							font-size: 2rem;
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	body {
		.section {
			.wrapper {
				.specificVideo {
					&__mainContainer {
						padding-top: 7rem;
					}
					&__description {
						&-text {
							font-size: 2.4rem;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	body {
		.section {
			&__specificVideo {
				height: calc(100vh - 230px);
				margin-bottom: 0;
				.wrapper {
					height: 100%;
					max-width: 1300px;
					.specificVideo {
						&__mainContainer {
							padding-top: 3rem;
							height: 100%;
							width: 100%;
							flex-direction: row;

							// border: 1px solid red;
						}
						&__videoBox {
							height: 100%;
							width: 60%;
							display: flex;
							justify-content: center;
							align-items: center;
							// border: 1px solid black;
							iframe {
								margin-top: 5rem;
								min-height: 40vh;
								align-self: flex-start;
								width: 100%;
							}
						}
						&__description {
							text-align: center;
							padding: 4rem;
							padding-top: 0;
							width: 45%;
							height: 100%;

							&-title {
								font-size: 6rem;
								display: block;
								width: 100%;
								justify-self: flex-start;
								margin: 20px;
								margin-bottom: 5rem;
							}
							&-text {
								width: 100%;
								text-align: center;
								margin: 0 2rem;
								font-size: 2rem;
								font-weight: 500;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 2000px) {
	body {
		.section {
			&__specificVideo {
				.wrapper {
					max-width: 1700px;
					.specificVideo {
						&__mainContainer {
							align-items: flex-start;
							padding-top: 15rem;
						}
						&__videoBox {
							iframe {
								margin-top: 0;
							}
						}
						&__description {
							&-title {
								font-size: 7rem;
							}
							&-text {
								font-size: 2.4rem;
							}
						}
					}
				}
			}
		}
	}
}
