@use "./colors" as colors;
// @use './nav';
@use "./newnav";
@use "./footer";
@use "./animations";
@use "./slider";
@use "./specificvideo";
@use "./contact";
@use "./musicContent";
@use "./videoSectionMainpage";
@use "./aboutusInMainpage";
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "gothic";
	src: url(../css/font.ttf);
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	background-color: colors.$main-bg-color;
	width: 100vw;
	overflow-x: hidden;
	// min-height: 300vh;
}
a,
a:link,
a:visited,
a:active,
a:hover {
	-webkit-tap-highlight-color: transparent;
}

.closewindow {
	-webkit-animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
		both !important;
	animation: scale-out-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both !important;
}

.hideFirstVideoBox {
	transform: translateX(-100%);
}
.showSecondVideoBox {
	transform: translateX(0) !important;
}

.showDescription {
	animation: showDescription 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
.hideDescription {
	animation: hideDescription 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}
// .showYTVideo {
// 	animation: showYTVideo 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
// }
// .showYTVideoDescription {
// 	animation: showYTVideoDescription 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
// 		forwards;
// }
// .hideYTVideo {
// 	animation: hideYTVideo 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
// }
// .hideYTVideoDescription {
// 	animation: hideYTVideoDescription 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
// 		forwards;
// }
.rotate {
	rotate: 0deg !important;
}
.dot_entrance {
	// display: none;
	position: absolute;
	z-index: 4;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	background-color: colors.$pure-white;

	left: calc(50% - 25px);
	top: calc(100% - 60px);

	animation: heartbeat 1.5s ease-in-out infinite both;
	a {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		padding: 15px;
	}
	img {
		display: block;
	}
}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.font {
	font-family: "gothic", sans-serif;
	font-weight: 900;
	font-style: normal;
}
.bebas-neue-regular {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
}
.lato-regular {
	font-family: "Lato", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.header {
	position: relative;
	height: calc(var(--vh, 100vh) - var(--navHeight));
	.wrapper {
		display: flex;
		justify-content: center;
		height: 100%;
	}
	&__imgs {
		display: none;
	}
	.header__textContainer {
		position: relative;
		z-index: 3;
		width: 100%;
		align-content: center;
		&-text {
			padding: 0 2rem;
			align-content: center;
			word-wrap: break-word;
			text-align: center;
			font-size: 3.5rem;
			color: colors.$pure-white;
		}
		.header__mobile__background {
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			.header__mobile__shadow {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
			}
			.header__mobile__video {
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}
	}
	.header__video {
		display: none;
	}
}

.section {
	&__marquee {
		position: relative;
		overflow: hidden;
		height: 50px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-around;
		z-index: 4;
		color: colors.$main-bg-color;
		&-marqueeContainer {
			white-space: nowrap;
			transform: translate3d(0, 0, 0);
			animation: 20s marquee infinite linear;
			will-change: transform;
		}
		&-marqueeElement {
			display: inline-block;
			backface-visibility: hidden;
			font-size: 4rem;
			margin: 0 30px;
		}
	}
	&__trusted {
		height: 300px;
		.section__marquee {
			height: 200px;
			&-marqueeContainer {
				display: flex;
				justify-content: center;
				align-items: center;
				align-content: center;
				animation: 10s marquee infinite linear;
				a {
					display: block;
					.section__marquee-marqueeElement--img {
						max-width: 150px;
						display: block;
						height: 80px;
						width: auto;
					}
				}
			}
		}
	}
}

@media (min-width: 375px) {
	.header {
		.header__textContainer {
			&-text {
				font-size: 4rem;
			}
		}
	}
}
@media ((min-width: 385px) and (min-height: 800px) and (max-width: 768px)) {
	.header {
		.header__textContainer {
			width: 100%;
			&-text {
				font-size: 4rem;
			}
		}
	}
	.section {
		&__marquee {
			height: 100px;
			&-marqueeContainer {
				animation: 15s marquee infinite linear;
			}
			&-marqueeElement {
				font-size: 6rem;
			}
		}

		&__trusted {
			.section__marquee {
				&-marqueeContainer {
					animation: 16s marquee infinite linear;
					a {
						.section__marquee-marqueeElement--img {
							max-width: 200px;
							height: 90px;
						}
					}
				}
			}
		}
	}
}
@media ((min-width: 568px) and (max-width: 992px)) {
	.header {
		height: calc(var(--vh, 100vh) - var(--navHeight));
		.header__textContainer {
			&-text {
				font-size: 6rem;
				padding: 0 6rem;
			}
		}
		.dot_entrance {
			width: 60px;
			height: 60px;
			left: calc(50% - 20px);
			top: calc(100% - 80px);
		}
	}
	.section {
		&__title {
			font-size: 6rem;
		}
		&__marquee {
			height: 100px;
			&-marqueeContainer {
				animation: 35s marquee infinite linear;
			}
			&-marqueeElement {
				font-size: 9rem;
			}
		}
	}
}
@media ((min-width: 992px) and (max-width: 1200px)) {
	.header {
		height: calc(var(--vh, 100vh) - var(--navHeight));
		.header__textContainer {
			&-text {
				font-size: 8rem;
			}
		}
		.dot_entrance {
			width: 80px;
			height: 80px;
			left: calc(50% - 40px);
			top: calc(100% - 120px);
		}
	}

	.section {
		&__title {
			font-size: 7rem;
		}
		&__marquee {
			height: 100px;
			&-marqueeContainer {
				animation: 15s marquee infinite linear;
			}
			&-marqueeElement {
				font-size: 8rem;
			}
		}
		&__trusted {
			.section__marquee {
				&-marqueeContainer {
					a {
						.section__marquee-marqueeElement--img {
							max-width: none;
							width: 220px;
							height: 120px;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 1200px) {
	@supports (-webkit-touch-callout: none) {
		.header {
			// height: 100vh; /* Example alternative calculation for Safari */
			height: var(--vh);
		}
	}
	.header {
		position: relative;
		height: calc(var(--vh, 100vh) - var(--navHeight));
		.wrapper {
			display: flex;
			position: relative;
			max-width: none;
			margin: 0;
			width: 100%;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
		}

		.dot_entrance {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			left: calc(50% - 30px);
			top: calc(100% - 70px);
			background-color: colors.$main-black;
			a {
				padding: 20px;
			}
		}

		.header__textContainer {
			height: 80%;
			width: 50%;
			margin-top: 0rem;
			padding: 4rem;
			display: flex;
			justify-content: center;
			align-items: center;
			&-text {
				margin-top: 0;
				font-size: 8rem;
				color: colors.$main-black;
			}
			.header__mobile__background {
				display: none;
			}
		}
		.header__video {
			display: block;
			object-fit: cover;
			width: 50%;
			height: 100%;
		}
	}
	.section {
		&__marquee {
			height: 140px;
			&-marqueeContainer {
				animation: 50s marquee infinite linear;
			}
			&-marqueeElement {
				font-size: 13rem;
				&--img {
					max-width: 300px;
					height: 100px;
				}
			}
		}
		// &__slider {
		// 	margin-top: 0;
		// 	margin-bottom: 2rem;
		// }
		&__trusted {
			height: 35vh;
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-bottom: 0;
			.section__marquee {
				height: 200px;
				&-marqueeContainer {
					display: flex;
					justify-content: center;
					align-items: center;
					align-content: center;
					animation: 45s marquee infinite linear;
					a {
						margin: 0 5rem;
						display: block;
						.section__marquee-marqueeElement--img {
							max-width: 300px;
							display: block;
							height: 130px;
							width: auto;
						}
					}
				}
			}
		}
	}
}
@media (min-width: 2000px) {
	.header {
		@supports (-webkit-touch-callout: none) {
			.header {
				height: 100vh; /* Example alternative calculation for Safari */
			}
		}

		.dot_entrance {
			width: 80px;
			height: 80px;
			left: calc(50% - 40px);
			top: calc(100% - 90px);
			a {
				padding: 25px;
			}
		}

		.header__textContainer {
			padding: 8rem;
			&-text {
				font-size: 9rem;
			}
		}

		&__imgs {
			position: relative;

			&-img {
				height: 360px;
				width: 360px;
				position: absolute;
				&--first {
					top: 0;
					left: 0;
					z-index: 3;
				}
				&--second {
					top: 25%;
					left: 25%;
					z-index: 2;
				}
				&--third {
					top: 50%;
					left: 50%;
					z-index: 1;
				}
			}

			img {
				object-fit: cover;
				height: 100%;
				width: 100%;
			}
		}
	}
}
