@use "./colors" as colors;
@use "./nav";
@use "./footer";
@use "./animations";
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: "gothic";
	src: url(../css/font.ttf);
}

html {
	font-size: 62.5%;
}

body {
	position: relative;
	background-color: colors.$main-bg-color;
	width: 100vw;
	min-height: 150vh;
	overflow-x: hidden;
}
a,
a:link,
a:visited,
a:active,
a:hover {
	-webkit-tap-highlight-color: transparent;
}

.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.font {
	font-family: "gothic", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.bebas-neue-regular {
	font-family: "Bebas Neue", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.header {
	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.header__textContainer {
		width: 80%;
		&-text {
			margin-top: 10rem;
			word-wrap: break-word;
			text-align: center;
			font-size: 4.5rem;
		}
	}
}

.section {
	margin-top: 20vh;
	&__marquee {
		overflow: hidden;
		height: 50px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		&-marqueeContainer {
			width: auto;
			white-space: nowrap;
			animation: 12s marquee infinite linear;
		}
		&-marqueeElement {
			display: inline-block;
			width: auto;
			font-size: 4rem;
			margin: 0 30px;
		}
	}
}

@media ((min-width: 568px) and (max-width: 992px)) {
	.header {
		.header__textContainer {
			width: 70%;
			margin-top: 8rem;
			&-text {
				font-size: 6rem;
			}
		}
	}
	.section {
		&__marquee {
			height: 100px;
			&-marqueeContainer {
				animation: 15s marquee infinite linear;
			}
			&-marqueeElement {
				font-size: 6rem;
			}
		}
	}
}

@media ((min-width: 992px) and (max-width: 1200px)) {
	.header {
		.header__textContainer {
			width: 70%;
			margin-top: 10rem;
			&-text {
				font-size: 8rem;
			}
		}
	}
	.section {
		&__marquee {
			height: 100px;
			&-marqueeContainer {
				animation: 15s marquee infinite linear;
			}
			&-marqueeElement {
				font-size: 8rem;
			}
		}
	}
}
@media (min-width: 1200px) {
	.header {
		margin-top: 6rem;
		.header__textContainer {
			width: 72%;
			&-text {
				font-size: 8rem;
			}
		}
	}
	.section {
		&__marquee {
			height: 100px;
			&-marqueeContainer {
				animation: 20s marquee infinite linear;
			}
			&-marqueeElement {
				font-size: 10rem;
			}
		}
	}
}
