@use './colors' as colors;
@use './nav';
@use './footer';
@use './animations';
@use './slider';
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'gothic';
	src: url(../css/font.ttf);
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;
	background-color: colors.$main-bg-color;
	width: 100vw;
	min-height: 150vh;
	overflow-x: hidden;
}
a,
a:link,
a:visited,
a:active,
a:hover {
	-webkit-tap-highlight-color: transparent;
}
.dot_entrance {
	// display: none;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 50%;
	background-color: colors.$main-black;
	display: flex;
	position: absolute;
	left: calc(50% - 25px);
	top: 85%;
	justify-content: center;
	align-items: center;
	animation: heartbeat 1.5s ease-in-out infinite both;
	a {
		padding: 15px;
	}
	img {
		display: block;
	}
}
.wrapper {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
.font {
	font-family: 'gothic', sans-serif;
	font-weight: 900;
	font-style: normal;
}
.bebas-neue-regular {
	font-family: 'Bebas Neue', sans-serif;
	font-weight: 400;
	font-style: normal;
}
.lato-regular {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: normal;
}
.header {
	position: relative;
	height: calc(100vh - 150px);
	.wrapper {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__imgs {
		display: none;
	}
	.header__textContainer {
		width: 90%;
		&-text {
			margin-top: 3rem;
			word-wrap: break-word;
			text-align: center;
			font-size: 4rem;
		}
	}
}
.section {
	margin-top: 5vh;
	&__first {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		flex-wrap: wrap;
		height: 60vh;
	}
	&__marquee {
		position: relative;
		overflow: hidden;
		-webkit-overflow-scrolling: touch;
		height: 50px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		&-marqueeContainer {
			width: auto;
			white-space: nowrap;
			animation: 20s marquee infinite linear;
		}
		&-marqueeElement {
			display: inline-block;
			width: auto;
			font-size: 4rem;
			margin: 0 30px;
		}
	}
}
.music-content {
	position: relative;
	// display: flex;
	// flex-direction: column;
	width: 100%;
	min-height: 400px;
	margin: 4rem auto;
	max-width: 1200px;

	&__description {
		display: none;
	}
	&__video {
		width: 95%;
		min-height: 250px;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		.youtube_video {
			width: 100%;
		}
	}
}

@media only screen and ((min-width: 385px) and (min-height: 800px) and (max-width: 768px)) {
	.header {
		.header__textContainer {
			margin-top: 8rem;
			width: 90%;
			&-text {
				margin-top: 6rem;
				font-size: 4rem;
			}
		}
	}
	.section {
		&__marquee {
			height: 100px;
			&-marqueeContainer {
				animation: 15s marquee infinite linear;
			}
			&-marqueeElement {
				font-size: 6rem;
			}
		}
	}
}
@media ((min-width: 568px) and (max-width: 992px)) {
	.header {
		height: calc(100vh - 240px);
		.header__textContainer {
			width: 70%;
			margin-top: 3rem;
			&-text {
				margin-top: 2rem;
				font-size: 6rem;
			}
		}
	}
	.section {
		&__marquee {
			height: 100px;
			&-marqueeContainer {
				animation: 15s marquee infinite linear;
			}
			&-marqueeElement {
				font-size: 6rem;
			}
		}
	}
}
@media (min-width: 768px) {
	.section {
		&__first {
			height: 75vh;
		}
	}
	.music-content {
		height: 60vh;
		&__video {
			position: absolute;
			z-index: 1;
			top: 0;
			left: 5%;
			width: 60%;
			min-height: 300px;
		}
		&__description {
			display: block;
			position: absolute;
			z-index: 0;
			width: 60%;
			padding: 8rem 0 0 8rem;
			min-height: 300px;
			top: 40%;
			right: 5%;
			box-shadow: 3px 3px 8px colors.$main-black;
			h2 {
				font-size: 5rem;
			}
			p {
				font-size: 2.5rem;
			}
		}
	}
}
@media ((min-width: 992px) and (max-width: 1200px)) {
	.header {
		height: calc(100vh - 320px);
		.header__textContainer {
			width: 70%;
			margin-top: 10rem;
			&-text {
				font-size: 8rem;
			}
		}
	}
	.music-content {
		height: 60vh;
		&__video {
			min-height: 400px;
		}
		&__description {
			min-height: 400px;
			h2 {
				font-size: 7rem;
			}
			p {
				font-size: 4rem;
			}
		}
	}

	.section {
		&__marquee {
			height: 100px;
			&-marqueeContainer {
				animation: 15s marquee infinite linear;
			}
			&-marqueeElement {
				font-size: 8rem;
			}
		}
	}
}
@media (min-width: 1200px) {
	.header {
		padding-top: 10rem;
		position: relative;
		height: calc(100vh - 150px);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		// margin-bottom: 15rem;
		// margin-top: 8rem;

		.wrapper {
			display: flex;
			max-width: 1700px;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			position: relative;
		}

		.dot_entrance {
			width: 60px;
			height: 60px;
			border-radius: 50%;
			left: calc(50% - 30px);
			top: 100%;
			margin-top: 10rem;
			a {
				padding: 20px;
			}
		}

		.header__textContainer {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			width: 60%;
			&-text {
				margin-top: 0;
				font-size: 8rem;
			}
		}

		&__imgs {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: 9rem;
			margin-right: 8rem;
			position: relative;
			height: 54vh;
			width: 37vw;
			&-img {
				height: 280px;
				width: 280px;
				position: absolute;
				&--first {
					top: -3%;
					left: 4%;
					z-index: 3;
				}
				&--second {
					position: unset;
					z-index: 2;
				}
				&--third {
					bottom: -3%;
					right: 4%;
					z-index: 1;
				}
				img {
					object-fit: cover;
					height: 100%;
					width: 100%;
				}
			}
		}
	}
	.music-content {
		height: 80vh;
		max-width: 1200px;
		// width: 60%;
		&__video {
			min-width: 65%;
			width: auto;
			min-height: 410px;
			left: 0;
		}
		&__description {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			min-height: 410px;
			top: 40%;
			right: 0%;
			padding: 0 5rem;
			text-align: center;
			width: 65%;
			h2 {
				font-size: 7rem;
			}
			p {
				font-size: 4rem;
			}
		}
	}
	.section {
		margin-top: 5rem;
		&__first {
			margin-top: 50px;
			padding-top: 30px;
		}
		&__marquee {
			height: 100px;
			&-marqueeContainer {
				animation: 28s marquee infinite linear;
			}
			&-marqueeElement {
				font-size: 8.5rem;
			}
		}
	}
	main {
		height: auto;
	}
}
@media (min-width: 2000px) {
	.header {
		height: calc(100vh - 180px);
		margin-top: 4rem;
		padding-top: 6rem;
		margin-bottom: 20rem;

		.wrapper {
			max-width: 2000px;
		}

		.dot_entrance {
			width: 80px;
			height: 80px;
			left: calc(50% - 40px);
			top: 90%;
			margin-top: 30rem;
			a {
				padding: 25px;
			}
		}

		.header__textContainer {
			&-text {
				font-size: 9rem;
			}
		}

		&__imgs {
			margin-left: 2rem;
			margin-right: 8rem;
			position: relative;
			// display: flex;
			height: 54vh;
			width: 37vw;
			&-img {
				// border: 8px solid colors.$pure-white;
				height: 280px;
				width: 280px;
				position: absolute;
				&--first {
					top: -3%;
					left: 4%;
					z-index: 3;
				}
				&--second {
					position: unset;
					// top: 24%;
					// left: 20%;
					z-index: 2;
				}
				&--third {
					bottom: -3%;
					right: 4%;
					z-index: 1;
				}
				img {
					object-fit: cover;
					height: 100%;
					width: 100%;
				}
			}
		}
	}
	.music-content {
		&__video {
			min-height: 410px;
			left: 0;
		}
		&__description {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			min-height: 410px;
			top: 40%;
			right: 0%;
			padding: 0;
			text-align: center;
			h2 {
				font-size: 7rem;
			}
			p {
				font-size: 4rem;
			}
		}
	}
	.section {
		&__first {
			margin-top: 12rem;
		}
	}
}
